<mat-card class="mb-4">
    <div class="flex justify-between">
        <div>
            <button mat-button [mat-menu-trigger-for]="sortByMenu">
                Sort by {{ sort }}
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button (click)="onSortUpdated('Descending')" mat-menu-item>Descending</button>
                <button (click)="onSortUpdated('Ascending')" mat-menu-item>Ascending</button>
            </mat-menu>
        </div>
        <div class="flex items-center">
            <div>
                <button mat-button>

                </button>
                <mat-menu #menu="matMenu">

                </mat-menu>
            </div>
        </div>
    </div>
</mat-card>